In [1]:
import pandas as pd

In [2]:
from Factories.CommonTransFactory import *

In [3]:
X = pd.DataFrame({'city':['tokyo', None, 'london', 'seattle', 'sanfrancisco', 'tokyo'],                  
                  'boolean':['yes', 'no', None, 'no', 'no', 'yes'],                  
                  'ordinal_column':['somewhat like', 'like','somewhat like', 'like', 'somewhat like', 'dislike'],                  
                  'quantitative_column':[1, 11, -.5, 10, None,20]})

In [4]:
X

  boolean          city ordinal_column  quantitative_column
0     yes         tokyo  somewhat like                  1.0
1      no          None           like                 11.0
2    None        london  somewhat like                 -0.5
3      no       seattle           like                 10.0
4      no  sanfrancisco  somewhat like                  NaN
5     yes         tokyo        dislike                 20.0

In [5]:
mostFrequentCity = X.loc[:, 'city'].value_counts().index[0]

In [6]:
X.loc[:, 'city'].fillna(mostFrequentCity)

0           tokyo
1           tokyo
2          london
3         seattle
4    sanfrancisco
5           tokyo
Name: city, dtype: object

In [7]:
TransFactory = CommonTransFactory()

In [10]:
customCategoryImputerTrans = TransFactory.makeCustomCateoryTransform()

In [11]:
customCategoryImputerTrans.getCols(cols = ['city','boolean'])

In [13]:
customCategoryImputerTrans.fit_transform(X)

  boolean          city ordinal_column  quantitative_column
0     yes         tokyo  somewhat like                  1.0
1      no         tokyo           like                 11.0
2      no        london  somewhat like                 -0.5
3      no       seattle           like                 10.0
4      no  sanfrancisco  somewhat like                  NaN
5     yes         tokyo        dislike                 20.0